.titulo{
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
}

.header{
    margin-top: 20px;
}

.group{
	margin-top: 30px;
}

.table{
	margin-top: 15px;
}